@font-face {
    font-family: "VCR OSD Mono";
    src: url("/assets/font/VCROSDMono.woff2") format("woff2"),
        url("/assets/font/VCROSDMono.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: "VCR OSD Mono";
}

.interface {
    position: relative;
    width: calc(100% - 2rem);
    min-height: 100vh;
    background-image: url("/assets/img/blackmetal.png");
    background-repeat: repeat;
    background-size: 300px;
    padding: 1rem;

    #banner {
        position: relative;
        width: 100%;

        div {
            position: absolute;

            .cover {
                width: 100%;
                display: block;
            }
        }

        .gif {
            width: 100%;
            height: 100%;
            clip-path: url("#clip-path");

            img {
                position: absolute;
            }

            h1 {
                position: absolute;
                bottom: 0.4rem;
                left: 0.4rem;

                color: white;
                line-height: 1.6rem;
                text-shadow: 2px 2px black;
                font-kerning: none;
            }
        }

        .screen1 {
            left: -1rem;
            width: 150px;

            img {
                position: absolute;
            }

            h1 {
                position: absolute;
                top: 0.6rem;
                left: 1rem;

                color: white;
                line-height: 1.9rem;
                font-size: 2.5rem;
            }
        }

        .screen2 {
            width: 100px;
            right: -1rem;
            bottom: 0;
        }

        filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
        -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
        -moz-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
        -ms-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
        -o-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
    }
}
