@font-face {
    font-family: "VCR OSD Mono";
    src: url("/assets/font/VCROSDMono.woff2") format("woff2"),
        url("/assets/font/VCROSDMono.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: "VCR OSD Mono";
}

.interface {
    width: calc(100% - 2rem);
    min-height: 100vh;
    background-image: url("/assets/img/blackmetal.png");
    background-repeat: repeat;
    background-size: 300px;
    padding: 1rem;
    position: relative;

    .banner {
        width: 100%;

        img {
            width: 100%;
            clip-path: url("#clip-path");
        }

        filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
        -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
        -moz-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
        -ms-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
        -o-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
    }
}
