@font-face {
    font-family: "VCR OSD Mono";
    src: url("/assets/font/VCROSDMono.woff2") format("woff2"),
        url("/assets/font/VCROSDMono.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: "VCR OSD Mono";
}

body {
    background-color: black;
}

.interface {
    position: relative;
    width: calc(100% - 2rem);
    min-height: 100vh;
    background-image: url("/assets/img/bluemetal.png");
    background-repeat: repeat;
    background-size: 300px;
    padding: 1rem;

    #banner {
        position: relative;
        width: 100%;

        div {
            position: absolute;

            .cover {
                width: 100%;
                display: block;
            }
        }

        .gif {
            width: 100%;
            height: 100%;
            clip-path: url("#banner-clip");

            img {
                position: absolute;
            }

            h1 {
                position: absolute;
                bottom: 0.4rem;
                left: 0.4rem;

                color: white;
                line-height: 1.6rem;
                text-shadow: 2px 2px black;
                font-kerning: none;
            }
        }

        .screen1 {
            left: -1rem;
            width: 150px;

            img {
                position: absolute;
            }

            h1 {
                position: absolute;
                top: 0.6rem;
                left: 1rem;

                color: white;
                line-height: 1.9rem;
                font-size: 2.5rem;
            }
        }

        .screen2 {
            width: 100px;
            right: -1rem;
            bottom: 0;

            .album {
                position: absolute;
                top: 0.5rem;
                left: 1rem;
                width: 70%;
            }
        }

        filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
        -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
        -moz-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
        -ms-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
        -o-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
    }

    #player {
        padding-top: 1rem;

        .controls {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            gap: 0.3rem;

            padding-bottom: 0.5rem;

            width: 100%;

            button {
                border: none;
                cursor: pointer;
                appearance: none;
                background-color: inherit;

                filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
                -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
                -moz-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
                -ms-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
                -o-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));

                img {
                    width: 100%;
                    max-height: 2.6rem;
                }
            }
        }

        .screen {
            width: 100%;
            position: relative;
            height: 42px;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .marquee {
                width: 100%;
                height: calc(100% - (42px - 1.5rem));

                padding: calc((39px - 1.5rem) / 2) 0;

                overflow: hidden;

                mask-image: linear-gradient(
                    to right,
                    rgba(0, 0, 0, 0) 2%,
                    rgba(255, 255, 255, 1) 10%,
                    rgba(255, 255, 255, 1) 90%,
                    rgba(0, 0, 0, 0) 98%
                );

                -webkit-mask-image: linear-gradient(
                    to right,
                    rgba(0, 0, 0, 0) 2%,
                    rgba(255, 255, 255, 1) 10%,
                    rgba(255, 255, 255, 1) 90%,
                    rgba(0, 0, 0, 0) 98%
                );

                .wrapper {
                    animation: marqueeScroll 20s linear infinite;
                    overflow: hidden;
                    white-space: nowrap;
                    display: inline-block;

                    p {
                        // padding: 0.55rem 1rem;
                        display: inline-block;
                        color: white;
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                    }
                }

                @keyframes marqueeScroll {
                    0% {
                        transform: translate3d(0, 0, 0);
                    }
                    100% {
                        transform: translate3d(-50%, 0, 0);
                    }
                }
            }
        }
    }

    #desktop {
        padding-top: 1rem;

        .screen {
            position: relative;
            width: 100%;

            .wallpaper {
                width: 100%;
                height: 100%;

                background-image: url("/assets/img/desktop_bg.png");
                background-size: cover;
                background-position: center;

                clip-path: url("#desktop-clip");
            }

            .speaker1 {
                position: absolute;
                width: 100px;
                bottom: -1rem;
                left: -0.3rem;
            }

            .speaker2 {
                position: absolute;
                width: 100px;
                bottom: -1rem;
                right: -0.3rem;
            }

            .footer {
                padding-top: 0.5rem;
                color: white;
                width: 100%;
                text-align: center;
            }

            .links {
                position: absolute;
                top: 0;
                padding: 1rem;

                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
                gap: 1rem;

                div {
                    img {
                        width: 100%;
                    }

                    p {
                        width: 100%;
                        text-align: center;
                        color: white;

                        font-size: 1rem;
                        line-height: 0.8rem;
                    }
                }
            }

            filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
            -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
            -moz-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
            -ms-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
            -o-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
        }
    }
}

.loader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;

    padding: 1rem;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: "Courier New", Courier, monospace;
        color: white;
    }
}
